body{
	background-color: #232323;
	color:white;
	text-transform: uppercase;
	font-family: 'Bangers', cursive;
	letter-spacing: 4px;
	margin:0px;
}
.applyStyles{
	background-color: #53A0C6;
	color:white;
}
#newColors:hover{
	background-color: #53A0C6;
	color:white;
	cursor: pointer;
}
#newColors{
	margin:0px 70px;
	padding: 0px 5px;
}
#easy{
	margin-left: 70px;
	cursor: pointer;
	padding: 0px 5px;
}
#hard{
	margin-right: 50px;
	cursor: pointer;
	padding: 0px 5px;
}
.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float:left;
	margin:1.66%;
	transition: all 1s;
	border-radius: 20px;
}
.square:hover{
	transform: scale(1.05);
}
#container{
	margin:0 auto;
	max-width: 600px;
}
h1{
	background-color: #53A0C6;
	text-align: center;
	margin:0px;
	padding:20px 0px;
	font-size: 2.7rem;
}
#belowHeader{
	text-align:center;
	background-color: white;
	color:#53A0C6;
	font-size: 1.3rem;
	margin-bottom: 30px;
}